packages: [
  "aligner"
  "atom-beautify"
  "atom-html-preview"
  "atom-material-syntax"
  "atom-material-ui"
  "atom-python-run"
  "autoclose-html"
  "auto-update-packages"
  "autocomplete-clang"
  "autocomplete-lua"
  "autocomplete-modules"
  "autocomplete-python"
  "autoprefixer"
  "color-picker"
  "file-icons"
  "highlight-line"
  "highlight-selected"
  "language-latex"
  "language-lua"
  "language-markdown"
  "latex"
  "linter"
  "linter-chktex"
  "linter-flake8"
  "linter-sass-lint"
  "linter-tidy"
  "markdown-preview-plus"
  "markdown-writer"
  "minimap"
  "minimap-cursorline"
  "minimap-highlight-selected"
  "minimap-pigments"
  "minimap-split-diff"
  "open-recent"
  "package-sync"
  "pigments"
  "python-indent"
  "sort-lines"
  "split-diff"
  "terminal-plus"
  "todo-show"
]
